body {
    background: url('pexels-travis-blessing-1363876.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main {
    width: 50%;
    background: transparent;
    background: rgba(40, 40, 40, 0.5); 
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: white; 
}

h2 {
    text-align: center;
    font-size: 2.5em;
    color: #4CAF50;
}

.insert {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    width: 100%;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
    outline: none;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

.tasks {
    list-style-type: none;
    padding: 0;
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: rgba(12, 5, 5, 0.6); */
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    backdrop-filter: blur(10px); 
    background: transparent;
    /* -webkit-backdrop-filter: blur(10px); Safari support */
}

.task li {
    flex: 1;
}

button.edit-button, button.delete-button, button.complete-button, button.add-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    position: relative;
    background-color: #4CAF50;
    color: white;
    margin-left: 5px;
}

button.edit-button:hover, button.delete-button:hover, button.complete-button:hover, button.add-button:hover {
    width: 120px;
    border-radius: 50px;
    transition-duration: 0.3s;
    background-color: #45a049;
}

button.edit-button:hover i, button.delete-button:hover i, button.complete-button:hover i, button.add-button:hover i {
    width: 20px;
    transition-duration: 0.3s;
    transform: translateY(60%);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

button.edit-button::before, button.delete-button::before, button.complete-button::before, button.add-button::before {
    content: '';
    display: none;
    color: white;
    transition-duration: 0.3s;
    font-size: 2px;
}

button.edit-button:hover::before {
    content: 'Edit';
    display: block;
    padding-right: 10px;
    font-size: 13px;
    opacity: 1;
    transform: translateY(0px);
}

button.delete-button:hover::before {
    content: 'Delete';
    display: block;
    padding-right: 10px;
    font-size: 13px;
    opacity: 1;
    transform: translateY(0px);
}

button.complete-button:hover::before {
    content: 'Complete';
    display: block;
    padding-right: 10px;
    font-size: 13px;
    opacity: 1;
    transform: translateY(0px);
}

button.add-button:hover::before {
    content: 'Add';
    display: block;
    padding-right: 10px;
    font-size: 13px;
    opacity: 1;
    transform: translateY(0px);
}
